<%- include ('partials/header.ejs') %>
<h1 class = "text-center mt-5">
	Business
</h1>
<div class = "container">
	

	<h4 class = "text-center mt-5">
			Web template design
	</h4>
	<p class = "width-bus">
		I offer a cheap price to design a website for your company. You can either choose the template below for a cheap price, or a customized one with higher cost. You can contact me through my email or submit the form on my personal website. My email is Junhano@uci.edu
	</p>
	<hr>
	<div class = "template-container">
		<div>
			<a href = "/yoga/home"><img src = "https://proxy-us-west2.goorm.io//service/5f0e82f4fc5f52a1761ee434_dl1jzFCNBm83FhQ4H1A.run-us-west2.goorm.io/9080//file/load/yoga.jpeg?path=d29ya3NwYWNlJTJGd2RiJTJGcGVyc29uYWxXZWIlMkZwaWN0dXJlcyUyRnlvZ2EuanBlZw==&docker_id=dl1jzFCNBm83FhQ4H1A&secure_session_id=sYdtkvVgeV5T2hv6FbVNRfVoEdrNJQPB"></a>
		</div>
		<div>
			
		</div>
		<div>
			
		</div>
	</div>
	<hr>
	<div>
		<p>
			Machine Learning model
		</p>
	</div>
</div>
<%- include ('partials/footer.ejs') %>