<%- include ('partials/header.ejs') %>


<h1 class = "text-center mt-5">
	Jimmy Ouyang Game Page
</h1>

<div class = "container">
	<div class = "row justify-content-center">
		<div class = "col-md-4">
			<div class="list-group text-center">
			  <a href="/game/ball" class="list-group-item list-group-item-action bg-transparent">
				Ball Game
			  </a>

			</div>

		</div>		
	</div>


</div>


<%- include ('partials/footer.ejs') %>