<%- include ('partials/header.ejs') %>


<h1 class = "text-center my-5">
	Jimmy Ouyang Personal Project
</h1>


<div class = "container">
	<h3 class = "text-center bg-transparent">
		Full end demo app
	</h3>
	<div class = "card">
		<img class = "card-img-top" src= "https://proxy-us-west2.goorm.io//service/5f0e82f4fc5f52a1761ee434_dl1jzFCNBm83FhQ4H1A.run-us-west2.goorm.io/9080//file/load/YelpCamp.jpeg?path=d29ya3NwYWNlJTJGd2RiJTJGcGVyc29uYWxXZWIlMkZwaWN0dXJlcyUyRlllbHBDYW1wLmpwZWc=&docker_id=dl1jzFCNBm83FhQ4H1A&secure_session_id=NtNi9Z_wrcU3gY2FzZ7tQ1kh2tSn_zNk" alt = "Card image cap">
		<div class = "card-body">
			<h5 class = "card-text">
				<a href="https://powerful-mesa-56813.herokuapp.com/">
					Yelp Camp
			  	</a>
			</h5>
		</div>
	</div>




</div>


<%- include ('partials/footer.ejs') %>