<%- include ('partials/header.ejs') %>


<h1 class = "text-center my-5">
	Jimmy Ouyang Personal Project
</h1>

<div class = "container">
	<div class = "row justify-content-center">
		<div class = "col-md-4">
			<div class="list-group text-center">
			  <a href="https://powerful-mesa-56813.herokuapp.com/" class="list-group-item list-group-item-action bg-transparent">
				Yelp Camp
			  </a>

			</div>

		</div>		
	</div>


</div>


<%- include ('partials/footer.ejs') %>