<%- include('../partials/yogaheader.ejs') %>
<div class = "inner">
	<h1 class = "iheader">
		Blog	
	</h1>
	<div class = "blogdiv">
		<div class = "blogpic">
			<img src = "https://images.unsplash.com/photo-1571019613454-1cb2f99b2d8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80">
		</div>
		<div class = "blogpost">
			<h2>
				Summer Yoga Classes
			</h2>
			<p>
				April 7, 2023<br>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. This is just a place holder, so you can see what the site would look like. This is just a place holder, so you can see what the site would look like.
			</p>
		</div>
	</div>
	<div class = "blogdiv">
		<div class = "blogpic">
			<img src = "https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/slideshows/7_most_effective_exercises_slideshow/650x350_7_most_effective_exercises_slideshow.jpg">
		</div>
		<div class = "blogpost">
			<h2>
				Inner peace
			</h2>
			<p>
				April 6, 2023<br>You can remove any link to our website from this website template, you're free to use this website template without linking back to us. This is just a place holder, so you can see what the site would look like. This is just a place holder, so you can see what the site would look like.
			</p>
		</div>
	</div>
	<div class = "blogdiv">
		<div class = "blogpic">
			<img src = "https://media.self.com/photos/5788e78f737bb3be07fb961f/master/pass/moves-correct-form_feat1.jpg">
		</div>
		<div class = "blogpost">
			<h2>
				A Strong and Flexible Body
			</h2>
			<p>
				April 5, 2023<br>If you're having problems editing this website template, then don't hesitate to ask for help on the Forums. This is just a place holder, so you can see what the site would look like. This is just a place holder, so you can see what the site would look like.
			</p>
		</div>
	</div>
</div>
<%- include('../partials/yogafooter.ejs') %>
