<%- include('../partials/yogaheader.ejs') %>
		<div class = "half-size">
			<h1>
				CLASS
			</h1>
			<div class = "twenty">
				<h3>
					Beginners
				</h3>
				<p>
					You can remove any link to our website from this website template, <br>you're free to use this website template without linking back to us.<br>MWF : 8AM to 9AM<br>TTHS : 10AM-11AM
				</p>
			</div>
			
			<div class = "twenty">
				<h3>
					Intermediate
				</h3>
				<p>
					You can remove any link to our website from this website template, <br>you're free to use this website template without linking back to us.<br>MWF : 10AM-11AM<br>TTHS : 1PM-2PM
				</p>
			</div>
			
			<div class = "twenty">
				<h3>
					Advanced
				</h3>
				<p>
					You can remove any link to our website from this website template, <br>you're free to use this website template without linking back to us.<br>MWF : 1PM-2PM<br>TTHS : 8AM to 9AM
				</p>
			</div>
		</div>
		<div class = "image-yoga">
		</div>
<%- include('../partials/yogafooter.ejs') %>