<%- include('../partials/yogaheader.ejs') %>
		<div class = "half-size">
			<h1 class = "newheader">
				YOGA 
				<hr>
				For Better Health & Flexibility
			</h1>

		</div>
		<div class = "image-yoga">
		</div>
<%- include('../partials/yogafooter.ejs') %>
