<%- include('../partials/yogaheader.ejs') %>
		<div class = "half-size">
			<h1>
				Instructors
			</h1>
			<div class = "card-group">
				<div class = "card">
					<div class = "imgcard">
						<img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2019/04/15/16/facial-expression-research.jpg?w968h681">
					</div>
					<h3 class = "text-center">
						Belle Humpfree
					</h3>
				</div>
				<div class = "card">
					<div class = "imgcard">
						<img src="https://lifescodes.com/wp-content/uploads/2017/04/Golden-raio-on-human-face-1-1.jpg">
					</div>
					<h3 class = "text-center">
						Jacob Collern
					</h3>
				</div>
				<div class = "card">
					<div class = "imgcard">
						<img src = "https://goldenmeancalipers.com/wp-content/uploads/2011/12/mirror11.jpg">
					</div>
					<h3 class = "text-center">
						Edward Blanche
					</h3>
				</div>
				<div class = "card">
					<div class = "imgcard">
						<img src = "https://im.indiatimes.in/media/content/itimes/blog/2016/Jul/22/1469162215-how-to-read-faces.jpg">
					</div>
					<h3 class = "text-center">
						Carrie Waldorf
					</h3>
				</div>	
			</div>
			
		</div>
		<div class = "image-yoga">
		</div>
<%- include('../partials/yogafooter.ejs') %>
