<%- include ('../partials/header.ejs') %>


<h1 class = "text-center mt-5">
	Ball Game
</h1>
<div class = "container center-c">
	<div id = "ball">	
	</div>	
</div>


<%- include ('../partials/footer.ejs') %>