<!DOCTYPE>
<head>
	<title>Belle Carrie Rehabolitation</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/webstyles/yoga.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
	<div class = "fix-header">
		<h3>
			Free Website Template
		</h3>	
		<div>
			<button>
				Download
			</button>
			<button>
				Discuss
			</button>
		</div>
	</div>
	<div class = "s-header">
		<h1>
			<a href = "/">Belle & Carrie</a>
		</h1>
		<h2>
			REHABILITYTATION YOGA
		</h2>
	</div>
	<div class = "menu-list">
		<ul>
			<li><a href = "/yoga/home">HOME</a></li>
			<li><a href = "/yoga/about">ABOUT</a></li>
			<li class = "activate" >
				<a href = '/yoga/class'>CLASS</a>
				<div class = "dropdown-content">
					<a href = '/yoga/instructors'>INSTRUCTORS</a>
				</div>
			</li>
			<li><a href = '/yoga/contact'>CONTACT</a></li>
			<li><a href = '/yoga/blog'>BLOG</a></li>
		</ul>
	</div>
	<div class = "white-box">